*, *:before, *:after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  font-family: 'Merriweather', serif;
  background-color: #2e2e30;
}

.container {
  width: 100%;
  max-width: 1086px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  grid-area: btn;
  background-color: #3b3333;
}

.footer {
  grid-area: footer;
  background-color: #8dc4a8;
}

header {
  margin-top: 33px;
  width: 100%;
  height: 67px;
  background-color: #2e2e30;
}

header .logo_link {
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: -0.44px;
  text-decoration: none;
}

header .navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 498px;
  height: 67px;
  padding: 28px 40px;
  background-color: #38383a;
}

header .navbar_list {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-content: center;
  list-style-type: none;
}

header .navbar_link {
  text-decoration: none;
  color: #888888;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 13px;
  text-transform: uppercase;
  letter-spacing: 3.64px;
  transition: all ease-in .4s;
}

header .navbar_link:hover {
  color: #4b77be;
}

header .navbar_link:active {
  color: red;
}

header .navbar .active_page {
  color: #ffffff;
  font-weight: 700;
}

header .navbar .active_page:hover {
  color: #4b77be;
}

header .navbar .active_page:active {
  color: red;
}

.main {
  margin-top: 35px;
  height: 615px;
  background: url("../img/bg_main.jpg") center center/cover no-repeat;
}

.main_promo {
  padding-top: 205px;
  padding-left: 46px;
}

.main_promo_theme {
  width: 103px;
  height: 24px;
  background-color: #4b77be;
  color: #ffffff;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 12px;
  line-height: 26px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2.16px;
  text-align: center;
  border-radius: 6px;
}

.main_promo_title {
  margin-top: 24px;
  color: #ffffff;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.64px;
}

.main_promo_desc {
  max-width: 529px;
  margin-top: 22px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
}

.main_promo_link {
  display: block;
  width: 161px;
  height: 35px;
  margin-top: 38px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  background-color: transparent;
  color: #ffffff;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 4.48px;
  text-decoration-line: none;
  text-align: center;
  line-height: 36px;
  border-radius: 20px;
  cursor: pointer;
}

.main_list {
  display: flex;
  justify-content: space-between;
  margin-top: 52px;
  width: 100%;
  height: 134px;
  background-color: #ffffff;
}

.main_list_item {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 30px 0 30px 50px;
  color: #38383a;
}

.main_list_item-theme {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 2.16px;
}

.main_list_item-title {
  margin-top: 10px;
  color: #38383a;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.32px;
}

.main_list_item-active {
  background-color: #4b77be;
}

.main_list_item-active > div {
  color: #ffffff;
}

.news {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 35px 31px;
}

.news_item:nth-child(n) {
  height: 416px;
  grid-column: 1 / 2;
}

.news_item:nth-child(7n + 4) {
  height: 416px;
  grid-column: 2 / 3;
}

.news_item:nth-child(7n + 7) {
  height: 416px;
  grid-column: 2 / 4;
}

.news_item:nth-child(7n + 2) {
  height: 416px;
  grid-column: 2 / 4;
}

.news_item:nth-child(7n + 5) {
  height: 416px;
  grid-column: 3 / 4;
}
/*# sourceMappingURL=style.css.map */