*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Merriweather', serif;
  background-color: #2e2e30;
}

.container {
  max-width: 1320px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn {
  grid-area: btn;
  background-color: #3b3333;
}

.footer {
  grid-area: footer;
  background-color: #2e2e30;
}

.header {
  height: 120px;
}

.header .logo_link {
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: -0.44px;
  text-decoration: none;
}

.header .menu {
  width: 50%;
  height: 67px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  list-style-type: none;
  background-color: #38383a;
  padding: 0;
  border-radius: 6px;
}

.header .menu_link {
  text-decoration: none;
  color: #888888;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 13px;
  text-transform: uppercase;
  letter-spacing: 3.64px;
  -webkit-transition: all linear .3s;
  transition: all linear .3s;
}

.header .menu_link:hover {
  color: #4b77be;
}

.header .menu_link:active {
  color: red;
}

.header .active_link {
  color: #ffffff;
  font-weight: 700;
}

.header .active_link:hover {
  color: #4b77be;
}

.header .active_link:active {
  color: red;
}

.header .hamburger {
  display: none;
}

@media (max-width: 767px) {
  .menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: rgba(0, 0, 0, 0.8) !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-transition: 0.6s all;
    transition: 0.6s all;
    z-index: 10;
  }
  .menu_active {
    left: 0;
  }
  .menu_item {
    margin-bottom: 20px;
  }
  .menu_link {
    font-size: 25px !important;
  }
  .hamburger {
    position: fixed !important;
    z-index: 5;
    display: block !important;
    width: 50px;
    height: 24;
    position: absolute;
    right: 35px;
    top: 60px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .hamburger span {
    display: block;
    margin-bottom: 5px;
    height: 3px;
    width: 100%;
    background-color: #575353;
    -webkit-transition: 0.6s all;
    transition: 0.6s all;
  }
  .hamburger_active span {
    margin: -2px;
  }
  .hamburger_active span:nth-child(1) {
    -webkit-transform: translateY(5px) rotate(-45deg);
            transform: translateY(5px) rotate(-45deg);
  }
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  .hamburger_active span:nth-child(3) {
    -webkit-transform: translateY(5px) rotate(45deg);
            transform: translateY(5px) rotate(45deg);
  }
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  min-height: 615px;
  background-color: #2e2e30;
}

.main-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  background-color: #2e2e30;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

.main_promo {
  width: 55%;
  z-index: 1;
  padding-left: 46px;
}

.main_promo_theme {
  width: 103px;
  height: 24px;
  background-color: #4b77be;
  color: #ffffff;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 12px;
  line-height: 26px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2.16px;
  text-align: center;
  border-radius: 6px;
}

.main_promo_title {
  margin-top: 24px;
  color: #ffffff;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: -0.64px;
}

.main_promo_desc {
  margin-top: 22px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.main_promo_link {
  display: block;
  width: 161px;
  height: 35px;
  margin-top: 38px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  background-color: transparent;
  color: #ffffff;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 4.48px;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  text-align: center;
  line-height: 36px;
  border-radius: 20px;
  cursor: pointer;
  -webkit-transition: all linear .3s;
  transition: all linear .3s;
}

.main_promo_link:hover {
  color: white;
  background-color: #2e2e30;
  border-color: transparent;
}

.main_list {
  position: absolute;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  background-color: #ffffff;
  border-radius: 0 0 6px 6px;
  z-index: 1;
}

.main_list_item {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 30px 20px 10px;
  color: #38383a;
  -webkit-transition: all linear .3s;
  transition: all linear .3s;
  cursor: pointer;
}

.main_list_item-theme {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 2.16px;
}

.main_list_item-title {
  padding-top: 10px;
  width: 100%;
  color: #38383a;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.32px;
}

.main_list_item:hover {
  background-color: #6198f0;
}

.main_list_item:hover > div {
  color: #ffffff;
}

.main_list_item-active {
  background-color: #4b77be !important;
}

.main_list_item-active > div {
  color: #ffffff;
}

.overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-overflow-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.text-overflow-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.text-overflow-4 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.text-overflow-5 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

@media (max-width: 767px) {
  .main {
    height: 100vh;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .main_promo {
    width: 80%;
    padding-top: 50px;
  }
  .main_promo_title {
    font-size: 23px;
  }
  .main_promo_desc {
    margin-top: 15px;
  }
  .main_img {
    width: 50%;
  }
  .main_list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main_list_item {
    width: 100%;
    padding-top: 10px;
  }
  .main_list_item-title {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.main_promo .main_promo_item {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 576px) {
  .main_title {
    margin-top: 20px;
    font-size: 20px;
  }
  .main_promo_link {
    margin-top: 10px;
  }
  .main_promo_desc {
    margin-top: 10px;
  }
}

.news {
  margin-top: 35px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(341px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(341px, 1fr));
  grid-auto-flow: dense;
  grid-gap: 35px 31px;
  grid-auto-rows: 416px;
}

.news_item {
  position: relative;
  z-index: 1;
  height: 416px;
  background-color: #ffffff;
  border-radius: 6px 6px 6px 6px;
}

.news_item-img {
  width: 100%;
  height: 183px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px 6px 0 0;
}

.news_item-theme {
  display: inline-block;
  position: absolute;
  top: 32px;
  left: 36px;
}

.news_item-theme-text {
  padding: 7px 10px;
  color: #ffffff;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2.16px;
  border-radius: 10px;
}

.news_item-text {
  padding-top: 31px;
  padding-bottom: 20px;
}

.news_item-title {
  margin: 0 auto;
  width: 256px;
  color: #38383a;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
  text-align: left;
}

.news_item-desc {
  margin: 0 auto;
  width: 260px;
  padding-top: 22px;
  color: #656565;
  font-family: Merriweather;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
}

.news_item-group-link {
  position: absolute;
  left: 37px;
  bottom: 16px;
  width: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news_item-btn {
  width: 140px;
  height: 35px;
  border: 1px solid black;
  color: #000000;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3.84px;
  text-align: center;
  border-radius: 20px;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  -webkit-transition: all linear .3s;
  transition: all linear .3s;
  line-height: 35px;
}

.news_item-btn:hover {
  color: white;
  background-color: #2e2e30;
  border-color: transparent;
}

.news_item-like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 33px;
  height: 33px;
  padding: 9px;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 100%;
  outline: none;
  cursor: pointer;
  -webkit-transition: all linear .3s;
  transition: all linear .3s;
}

.news_item-like:hover {
  fill: #ffffff;
  background-color: #2e2e30;
  border-color: transparent;
}

.news_item-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75px;
  height: 34px;
  padding: 11px 18px;
  border: 1px solid black;
  text-align: center;
  border-radius: 20px;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  -webkit-transition: all linear .3s;
  transition: all linear .3s;
  color: black;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}

.news_item-comment:hover {
  background-color: #2e2e30;
  border-color: transparent;
  fill: #ffffff;
  color: white;
}

.news_item-comment-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  opacity: 0.5;
  text-align: center;
}

.news_item-comment-number {
  opacity: 0.5;
  color: #000000;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}

.bg-people {
  background-color: #e52a40;
}

.bg-lifestyle {
  background-color: #4b77be;
}

.bg-travel {
  background-color: #663399;
}

.bg-technology {
  background-color: #e87e04;
}

.bg-economy {
  background-color: #e74c3c;
}

.bg-home {
  background-color: #4183d7;
}

.bg-country {
  background-color: #26a65b;
}

.bg-newpost {
  background-color: #065858;
}

.img-big {
  width: 241px;
  height: 250px;
}

.big-title {
  margin: 0;
  width: 347px;
  font-size: 24px;
  line-height: 36px;
}

.big-desc {
  width: 381px;
}

.big-group-link {
  margin-top: 63px;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.margin-top_theme {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.margin-top_line {
  margin-top: 31px;
}

.title-no-img {
  width: 222px;
  font-size: 24px;
  line-height: 33px;
  font-weight: 700;
  text-align: center;
  letter-spacing: -0.48px;
}

.desc-no-img {
  text-align: center;
}

.img-cover {
  position: absolute;
  height: 100%;
  z-index: -1;
  border-radius: 6px 6px 6px 6px;
}

.title-slider {
  color: #ffffff;
  letter-spacing: -0.36px;
  text-align: center;
}

.border-slider {
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.7);
}

.comment-number-slider {
  color: #ffffff;
}

.slider-dots {
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  padding-top: 24px;
}

.slider-dots-item {
  display: inline-block;
  margin-right: 13px;
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  opacity: 0.5;
  border-radius: 100%;
  cursor: pointer;
}

.slider-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.active-slide,
.slider-dots-item:hover {
  background-color: #3a3a3a;
}

.news_item:nth-child(5n + 2) {
  grid-column: span 2;
}

hr {
  position: absolute;
  bottom: 71px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin: 0;
  height: 1px;
  background-color: #000000;
  opacity: 0.2;
  border: none;
}

.df-big {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.df-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news_item-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.slider-link > * {
  color: #ffffff;
  fill: #ffffff;
  border-color: #ffffff;
}

@media (max-width: 767px) {
  .news_item:nth-child(5n + 2) {
    grid-column: span 1;
  }
  .img-big {
    position: absolute;
    width: 90%;
    height: 80%;
    z-index: -1;
    opacity: .5;
  }
  .big-title {
    margin: 0 auto;
    width: 256px;
    color: #38383a;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.36px;
    text-align: left;
  }
  .big-desc {
    margin: 0 auto;
    width: 260px;
    padding-top: 22px;
    color: #656565;
    font-family: Merriweather;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
  }
  .slider-dots {
    text-align: center;
  }
}

.news_item-slider .slider-desc {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 752px) {
  .news_item-title {
    width: 60%;
    text-align: center;
  }
  .news_item-desc {
    width: 80%;
    text-align: center;
  }
}

.accordion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 70px;
}

.accordion-item {
  position: relative;
  padding-right: 33px;
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  cursor: pointer;
  -webkit-transition: all linear .3s;
  transition: all linear .3s;
}

.accordion-item:hover {
  background-color: #f2f1f1;
}

.accordion-item-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.accordion-img {
  max-width: 200px;
  max-height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}

.accordion-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.accordion-theme {
  width: 180px;
  color: #2e2e30;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2.16px;
  text-align: left;
}

.accordion-title {
  width: 422px;
  position: relative;
  color: #38383a;
  font-family: Merriweather;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.32px;
}

.accordion-item-open {
  width: 100%;
  height: 180px;
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  -webkit-transition: all linear .3s;
  transition: all linear .3s;
  -o-object-fit: cover;
     object-fit: cover;
}

.accordion-item-open:hover {
  background-color: #f2f1f1;
}

.accordion-text {
  width: 75%;
  color: #656565;
  font-family: Merriweather;
  font-size: 14px;
  font-weight: 400;
  line-height: 29px;
}

.accordion-item-input {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.accordion-item-trigger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  cursor: pointer;
}

.accordion-item-input:checked ~ .accordion-item-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  border-color: #38383a;
}

@media (max-width: 767px) {
  .accordion-item-open {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .accordion-img {
    max-width: 100%;
    max-height: 50%;
  }
  .accordion-text {
    width: 100%;
    line-height: 22px;
  }
  .text-overflow-5 {
    -webkit-line-clamp: 3;
  }
}

.load-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 35px;
  height: 67px;
  background-color: #38383a;
  text-align: center;
  line-height: 67px;
  cursor: pointer;
  -webkit-transition: all linear .3s;
  transition: all linear .3s;
  border-radius: 6px;
  transition: all linear .3s;
}

.load-btn:hover {
  background-color: #444447;
}

.load-btn:hover > * {
  color: #ffffff;
  fill: #ffffff !important;
}

.load-btn:hover > svg {
  fill: #ffffff !important;
}

.load-text {
  margin-left: 26px;
  color: rgba(0, 0, 0, 0.6);
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3.92px;
}

.footer {
  height: 18px;
  margin-top: 54px;
  margin-bottom: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-copyright {
  height: 18px;
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.social-icons {
  width: 158px;
  height: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  padding-left: 20px;
}

.icon_footer {
  width: 20px;
  height: 16px;
}

@media (max-width: 576px) {
  .footer-copyright {
    font-size: 12px;
  }
}
/*# sourceMappingURL=style.css.map */