.main {
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
    margin-top: 35px;
    min-height: 615px;
    // background: url('../img/bg_main.jpg') center (center / cover) no-repeat;
   &-img {
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       z-index: -1;
       border-radius: 6px;
   }
    &_promo {
        width: 55%;
       padding-left: 46px;
        &_theme {
            width: 103px;
            height: 24px;
            background-color: #4b77be;
            color: #ffffff;
            font-family: 'Merriweather Sans', sans-serif; 
            font-size: 12px;
            line-height: 26px ;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 2.16px;
            text-align: center;
            border-radius: 6px;
        }
        &_title {
            margin-top: 24px;
            color: #ffffff;
            font-size: 32px;
            font-weight: 700;
            line-height: 32px;
            letter-spacing: -0.64px;
        }
        &_desc {
            margin-top: 22px;
            color: #ffffff;
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
        }
        &_link {
            display: block;
            width: 161px;
            height: 35px;
            margin-top: 38px;
            border: 1px solid rgba(255, 255, 255, 0.7);
            background-color: transparent;
            color: #ffffff;
            font-family: 'Merriweather Sans', sans-serif; 
            font-size: 14px;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 4.48px;
            text-decoration-line: none;
            text-align: center;
            line-height: 36px;
            border-radius: 20px;
            cursor: pointer;
            transition: all linear .3s;
            &:hover {
                color: #ffffff;
                background-color: #38383a;
                border-color:transparent;
            }
        }
    }
    &_list {
        position: absolute;
        left: 0;
        bottom: 0;
        display: flex;
        justify-content: space-between;
        width: 100%;
        background-color: #ffffff;
        &_item {
            width: 25%;
            height: 134px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            padding-left: 48px;
            padding-top: 30px;
            color: #38383a;
            transition: all linear .3s;
            cursor: pointer;
            &-theme {
                font-family: 'Merriweather Sans', sans-serif;
                font-size: 12px;
                font-weight: 400;
                line-height: 26px;
                text-transform: uppercase;
                letter-spacing: 2.16px;
            }
            &-title {
                padding-top: 10px;
                width: 80%;
                color: #38383a;
                font-size: 16px;
                font-weight: 700;
                line-height: 26px;
                letter-spacing: -0.32px;
            }
            &:hover {
                background-color: #6198f0;
                & > div {
                    color: #ffffff; 
                } 
            }
            &-active  {
                background-color: #4b77be !important;
                & > div {
                    color: #ffffff; 
                }
            }
        }
    }
}

.overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}