.main {
    margin-top: 35px;
    height: 615px;
    background: url('../img/bg_main.jpg') center (center / cover) no-repeat;
    &_promo {
        padding-top: 205px;
        padding-left: 46px;
        &_theme {
            width: 103px;
            height: 24px;
            background-color: #4b77be;
            color: #ffffff;
            font-family: 'Merriweather Sans', sans-serif; 
            font-size: 12px;
            line-height: 26px ;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 2.16px;
            text-align: center;
            border-radius: 6px;
        }
        &_title {
            margin-top: 24px;
            color: #ffffff;
            font-size: 32px;
            font-weight: 700;
            line-height: 32px;
            letter-spacing: -0.64px;
        }
        &_desc {
            max-width: 529px;
            margin-top: 22px;
            color: #ffffff;
            font-size: 16px;
            font-weight: 400;
            line-height: 26px;
            text-align: left;
        }
        &_link {
            display: block;
            width: 161px;
            height: 35px;
            margin-top: 38px;
            border: 1px solid rgba(255, 255, 255, 0.7);
            background-color: transparent;
            color: #ffffff;
            font-family: 'Merriweather Sans', sans-serif; 
            font-size: 14px;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 4.48px;
            text-decoration-line: none;
            text-align: center;
            line-height: 36px;
            border-radius: 20px;
            cursor: pointer;
            transition: all linear .3s;
            &:hover {
                color: #ffffff;
                background-color: #38383a;
                border:none;
            }
        }
    }
    &_list {
        display: flex;
        justify-content: space-between;
        margin-top: 52px;
        width: 100%;
        height: 134px;
        background-color: #ffffff;
        &_item {
            width: 25%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding: 30px 0 30px 50px;
            color: #38383a;
            &-theme {
                font-family: 'Merriweather Sans', sans-serif;
                font-size: 12px;
                font-weight: 400;
                line-height: 26px;
                text-transform: uppercase;
                letter-spacing: 2.16px;

            }
            &-title {
                margin-top: 10px;
                color: #38383a;
                font-size: 16px;
                font-weight: 700;
                line-height: 26px;
                letter-spacing: -0.32px;
            }
            &-active {
                background-color: #4b77be;
                & > div {
                    color: #ffffff; 
                }
            }
        }
    }
}
