.news {
    margin-top: 35px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 35px 31px;
    grid-auto-rows: 416px;
    &_item {
        position: relative;
        z-index: 1;
        height: 416px;
        background-color: #ffffff;
        &-img {
            width: 100%;
            height: 183px;
        }
        &-theme {
            display: inline-block;
            position: absolute;
            top: 32px;
            left: 36px;
            &-text {
                padding: 7px 10px;
                color: #ffffff;
                font-family: 'Merriweather Sans', sans-serif; 
                font-size: 12px;
                font-weight: 400;
                text-transform: uppercase;
                letter-spacing: 2.16px;
                border-radius: 10px;
            }
        }
        &-title {
            margin: 0 auto;
            width: 256px;
            margin-top: 31px;
            color: #38383a;
            font-size: 18px;
            font-weight: 700;
            line-height: 20px;
            letter-spacing: -0.36px;
            text-align: left;
        }
        &-desc {
            margin: 0 auto;
            width: 260px;
            margin-top: 22px;
            color: #656565;
            font-family: Merriweather;
            font-size: 14px;
            font-weight: 400;
            line-height: 22px;
            text-align: left;
        }
        &-line {
            width: 100%;
            margin-top: 20px;
            height: 1px;
            background-color: #000000;
            opacity: 0.2;
        }
        &-group-link {
            margin-top: 20px;
            margin-left: 37px;
            width: 280px;
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
        &-btn {
            width: 140px;
            height: 35px;
            border: 1px solid rgba(0, 0, 0, 0.4);
            color: #2e2e30;
            font-family: 'Merriweather Sans', sans-serif; 
            font-size: 12px;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 3.84px;
            text-align: center;
            border-radius: 20px;
            text-decoration-line: none;
            transition: all linear .3s;
            line-height: 35px;
            &:hover {
                color: #ffffff;
                background-color: #38383a;
                border:none;
            }
        }
        &-like {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 33px;
            height: 33px;
            padding: 9px;
            background-color: transparent;
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 100%;
            outline: none;
            cursor: pointer;
            transition: all linear .3s;
            &:hover {
                color: #ffffff;
                background-color: #38383a;
                border:none;
            }
        }
        &-comment {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 75px;
            height: 34px;
            padding: 11px 18px;
            border: 1px solid rgba(0, 0, 0, 0.4);
            text-align: center;
            border-radius: 20px;
            text-decoration-line: none;
            transition: all linear .3s;
            &:hover {
                color: #ffffff;
                background-color: #38383a;
                border:none;
            }
            &-icon {
                display: inline-block;
                width: 16px;
                height: 16px;
                opacity: 0.5;
                text-align: center;
            }
            &-number {
                opacity: 0.5;
                color: #000000;
                font-family: 'Merriweather Sans', sans-serif; 
                font-size: 14px;
                font-weight: 400;
                line-height: 26px;
                text-align: center;
            }
        }
    }
}



.bg-people {
    background-color: #e52a40;
}
.bg-lifestyle {
    background-color: #4b77be;
}
.bg-travel {
    background-color: #663399;
}
.bg-technology {
    background-color: #e87e04;
}
.bg-economy {
    background-color: #e74c3c;
}
.bg-home {
    background-color: #4183d7;
}
.bg-country {
    background-color: #26a65b;
}
.bg-newpost {
    background-color: #065858;
}
.img-big {
    position: absolute;
    width: 241px;
    height: 250px;
    top: 95px;
    left: 442px;
}
.big-title {
    margin: 116px auto 0 37px ;
    margin-top: 116px;
    margin-left: 37px;
    width: 347px;
    font-size: 24px;
    line-height: 36px;
}
.big-desc {
    margin: 29px auto 0 37px ;
    width: 381px;
}
.big-group-link {
    margin-top: 63px;
}
.hidden {
    display: none;
}
.margin-top_theme {
    left: 50%;
    transform: translateX(-50%);
}
.margin-top_title {
    margin-top: 112px ;
}
.margin-top_desc {
    margin-top: 36px;
}
.margin-top_line {
    margin-top: 31px;
}
.title-no-img {
    width: 222px;
    font-size: 24px;
    line-height: 33px;
    font-weight: 700;
    text-align: center;
    letter-spacing: -0.48px;
}
.desc-no-img {
    text-align: center;
}
.img-cover {
    position: absolute;
    height: 100%;
    z-index: -1;
}
.margin-title-slider {
    margin-top: 227px;
    color: #ffffff;
    letter-spacing: -0.36px;
}
.margin-slider-link {
    margin-top: 55px;
    color: #ffffff;
}
.border-slider {
    color: #ffffff;
    border: 1px solid rgba(255, 255, 255, 0.7);
}
.comment-number-slider {
    color: #ffffff;
}
.slider-dots {
    margin-top: 24px;
    margin-left: 39px;
}
.slider-dots-item {
    display: inline-block;
    margin-right: 13px;
    width: 12px;
    height: 12px;
    background-color: #ffffff;
    opacity: 0.5;
    border-radius: 100%;
    cursor: pointer;
}



.news_item:nth-child(5n + 2) {
    grid-column: 2 / 4;
}
